#tiny_embedmediasite_content-container {
    .presentation {
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }
}

#tiny_embedmediasite_loading {
    text-align: center;
    margin: 1em 0 0 0;
    font-weight: 400;
}

#tiny_embedmediasite_no_more_content {
    margin: 1em 0 0 0;
}

#tiny_embedmediasite_footer {
    width: 100%; /* Ensure footer content is not right aligned (which is the Moodle default) */
}