#tiny_embedmediasite_content-container {
    .presentation {
        padding-bottom: 0.75em;
        margin-top: 0.75em;
        border-bottom: 1px solid #ccc;
        display: flex;
        gap: 1em;
        justify-content: space-between;

        .presentation_details {
            .title {
                margin-bottom: 0.5em;
            }

            .actions {
                margin-top: 0.5em;
            }

            .metadata {
                display: flex;
                gap: 1em;

                span {
                    display: block;
                    font-size: 0.5em;
                    text-transform: uppercase;
                    line-height: 1.2;
                    margin: 0;
                    padding: 0;
                }

                small {
                    font-size: 0.75em;
                    font-weight: inherit;
                    line-height: 1.2;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .presentation_thumbnail {
            img {
                max-width: 10em;
                max-height: 10em;
            }
        }
    }
}

#tiny_embedmediasite_loading {
    text-align: center;
    margin: 1em 0 0 0;
    font-weight: 400;
}

#tiny_embedmediasite_no_more_content {
    margin: 1em 0 0 0;
}

#tiny_embedmediasite_footer {
    font-size: 0.9em;
    width: 100%; /* Ensure footer content is not right aligned (which is the Moodle default) */
    b {
        font-weight: 400;
    }
}