#tiny_embedmediasite_content-container {
    .presentation {
        padding: 20px;
        border-bottom: 1px solid #ccc;
    }
}

#loading {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}