{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_embedmediasite/_embedlink

    Renders a clickable link to a MediaSite presentation that opens in a new window.

    Example context (json):
    {
        "title": "Introduction to Course Content",
        "source": "https://mediasite.example.com/Mediasite/Play/abc123def456",
        "description": "An overview of the course content and learning objectives.",
        "includedescriptionabove": false,
        "includedescriptionbelow": true
    }
}}
{{#includedescriptionabove}}{{#description}}{{ > tiny_embedmediasite/_description }}{{/description}}{{/includedescriptionabove}}
<a title="{{title}}" href="{{source}}" target="_blank" data-source="tiny_embedmediasite">{{title}}</a>
{{#includedescriptionbelow}}{{#description}}{{ > tiny_embedmediasite/_description }}{{/description}}{{/includedescriptionbelow}}
