{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_embedmediasite/modal

    Modal dialog for browsing and inserting MediaSite presentations. Displays presentations via the _presentations partial.

    Example context (json):
    {
        "list": [
            {
                "title": "Introduction to Course Content",
                "date_formatted": "January 10, 2026",
                "duration_formatted": "45 minutes",
                "source": "https://mediasite.example.com/Mediasite/Play/abc123def456",
                "thumbnail": "https://mediasite.example.com/mediasite/api/presentations/abc123def456/thumbnail"
            },
            {
                "title": "Advanced Topics Overview",
                "date_formatted": "January 8, 2026",
                "duration_formatted": "60 minutes",
                "source": "https://mediasite.example.com/Mediasite/Play/xyz789uvw321",
                "thumbnail": "https://mediasite.example.com/mediasite/api/presentations/xyz789uvw321/thumbnail"
            }
        ],
        "manage": "https:\/\/webcast.massey.ac.nz\/mediasite\/mymediasite",
        "nologin": true,
        "norefresh": true,
        "nosearch": true,
        "page": 1,
        "pages": -1
    }
}}
{{< core/modal }}
    {{$title}}
        {{#str}} pluginname, tiny_embedmediasite {{/str}}
    {{/title}}
    {{$body}}
        <div id="tiny_embedmediasite_content-container">
        {{> tiny_embedmediasite/_presentations }}
        </div>
        <div id="tiny_embedmediasite_loading"{{^list}} style="display: none;"{{/list}}><i class="fa-solid fa-sync fa-spin"></i> {{#str}} loadingmorecontent, tiny_embedmediasite {{/str}}</div>
        <div id="tiny_embedmediasite_no_more_content" style="display: none;">{{#str}} nomorecontent, tiny_embedmediasite {{/str}}</div>
        {{^list}}<div id="tiny_embedmediasite_no_content_found">{{#str}} nocontentfound, tiny_embedmediasite {{/str}}</div>{{/list}}
    {{/body}}
    {{$footer}}
        <div id="tiny_embedmediasite_footer">
            <div>{{#str}} embedhelptext, tiny_embedmediasite {{/str}}</div>
        </div>
    {{/footer}}
{{/ core/modal }}